<%- include("../partial/header_admin") %>
<body style="background-color: rgba(58, 123, 153, 0.596);">

<div class="container" style="padding-top: 10px;">    
    <table class="table table-bordered table-hover">
        <tr>
            <th>로그명</th>
            <th>-</th>
        </tr>        
    <% if(list != null && list.length > 0) { %>
        <% for (var i = 0; i < list.length; i++) { %>
        <tr>
            <td><a href="/usaki_logs/<%=list[i]%>" target="_blank"><%=list[i]%></a></td>
            <td><button class="btn btn-primary" onclick="logDelEach('<%=list[i]%>');">삭제</button></td>
        </tr>
        <% } %>
    <% } %>               
    </table>
    <button class="btn btn-primary" onclick="document.location.href='/admin/write';">ROOT</button>
    <button class="btn btn-primary" onclick="logDel();">전체삭제</button>    
</div>
<%- include("../partial/footer_admin") %>