<%- include("../partial/header_admin") %>
<body style="background-color: rgba(58, 123, 153, 0.596);">

<div class="container" style="padding-top: 10px;">
    <table class="table table-bordered table-hover">
        <tr>
            <th>일자</th>
            <th>ID</th>
            <th>닉네임</th>
            <th>이메일</th>
            <th>등급</th>
            <th>승인코드</th>
            <th>변경</th>
        </tr>        
            <% if(list != null && list.length > 0) { %>
                <% for (var i = 0; i < list.length; i++) { %>
                <tr>
                    <td><%=list[i].cre_date%></td>
                    <td><%=list[i].uid%></td>
                    <td><%=list[i].nickname%></td>
                    <td><%=list[i].email%></td>
                    <td><%=list[i].statusHan%></td>
                    <td><%=list[i].loginCode%></td>
                    <td>                        
                        <select id="selType_<%=list[i].seq%>">
                            <option value="">--select--</option>
                            <option value="0">승인해제</option>
                            <option value="1">외부</option>
                            <option value="2">몬주</option>
                            <option value="3">관리자</option>
                        </select>
                        <input type="button" id="btnConfirm" onclick="loginChange('<%=list[i].seq%>');" value="권한변경">
                        <input type="button" id="btnDel" onclick="loginDel('<%=list[i].seq%>');" value="삭제">
                    </td>
                </tr>
                <% } %>
            <% } %>                                        
    </table>            
    
</div>    


<%- include("../partial/footer_admin") %>