<body>
    <input type="hidden" id="hidActPower" name="hidActPower"/>
    <input type="hidden" id="hidActSkill1" name="hidActSkill1"/>
    <input type="hidden" id="hidActSkill1_w" name="hidActSkill1_w"/>
    <input type="hidden" id="hidActSkill2" name="hidActSkill2"/>
    <input type="hidden" id="hidActSkill2_w" name="hidActSkill2_w"/>
    <input type="hidden" id="hidloginID" name="hidloginID" value="<%=loginID%>"/>
    <input type="hidden" id="hidloginType" name="hidloginType" value="<%=loginType%>"/>
    
    <header>
    <div class="mobile-logo">
    <a href=""><img src="/theme/images/logo.gif"></a>
    </div>
    <a class="menu-toggle rounded" href="#">
    <i class="fa fa-bars"></i>
    </a>
    <nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
        <span class="smooth-scroll" id="loginInfo"><%=loginID%></span>
        </li>             
        <% if (link != null && link != "") { %>
            <li class="sidebar-nav-item"><button class="btn btn-danger" onclick="document.location.href='<%=link%>';">ADMIN</button></li><p/>
        <% } %>
        <li class="sidebar-nav-item" id="lLogin"><button class="btn btn-danger" id="btnLoginG" onclick="funNav('Login');"></button></li>
        <p/>
        <li class="sidebar-nav-item">        
        <button class="btn btn-danger" id="btnSimul" onclick="goUrl('Simul');">시뮬레이터</button>
        </li><p/>        
        <li class="sidebar-nav-item">
        <button class="btn btn-danger" id="btnAsmonel" onclick="goUrl('Asmonel');">아스모넬</button>
        </li><p/>        
        <li class="sidebar-nav-item">        
        <button class="btn btn-danger" id="btnChat" onclick="goUrl('Chat');">채팅</button>
        </li><p/>  
        <li class="sidebar-nav-item">        
        <button class="btn btn-danger" id="btnBattle" onclick="goUrl('Battle');">전투 시뮬레이터</button>
        </li><p/>  
        <li class="sidebar-nav-item">        
        <button class="btn btn-danger" id="btnMCE" onclick="goUrl('MCE');">MonsteryCryEternal</button>
        </li>        
    </ul>
    </nav>
    </header>    
        
<section id="Banner" style="background: url('/theme/images/logo2.JPG') no-repeat 50% 50% fixed; background-size: cover; ">
    <div class="logo">
        
    </div>
    
    <div class="container">
        <div class="Main1">
            <button class="btn btn-danger" onclick="goUrlMain('Simul');">시뮬레이터</button>
            <button class="btn btn-danger" onclick="goUrlMain('Battle');">전투 시뮬레이터</button>
            <button class="btn btn-danger" onclick="goUrlMain('Asmonel');">아스모넬</button>
        </div>        
        <div class="Main2">            
            <button class="btn btn-success" onclick="funNav('CardList');">도감</button>
        </div>
        <div class="Main3">
            <button class="btn btn-info" onclick="document.location='https://www.nyouinc.com/idp.html';">Nyou</button>
            <button class="btn btn-info" onclick="document.location='https://www.facebook.com/OfficialDragonChronicles';">Facebook</button>
            <button class="btn btn-info" onclick="document.location='https://thevc.kr/Nyou';">Nyou-thevc</button>
            <button class="btn btn-info" onclick="document.location='https://play.google.com/store/apps/details?id=com.nyouinc.monstercryeternal&hl=ko&gl=US';">Play Google</button>            
        </div>
        <div class="Main4">
        
        </div>
        <div class="Main5">            
            
        </div>
    </div>    
</section>

<section id="Login"> 
    <div class="container">
    <h2>로그인</h2>
    <p>모든 메뉴는 회원 가입을 해주셔야 접근 가능합니다~!<br> 추후에 다른 메뉴에 활용할 예정이니 가입해주세요~<br>민감한 정보는 입력받지 않습니다</p>
    <p>로그인 유지는 1시간동안 지속됩니다.</p>
    <p>승인코드는 한번 입력하시면 쭉 유지됩니다. (cookie 삭제하면 초기화됨)</p>
    <div class="blog-wrap">                  
        <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon3">&nbsp;&nbsp;아이디&nbsp;&nbsp;</span>
        </div>
        <input type="text" class="form-control" placeholder="최대 10자리, 대소문자 구분 없음" id="txtUid" maxlength="10" aria-describedby="basic-addon3">
        </div>
        <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon3">패스워드</span>
        </div>
        <input type="password" class="form-control" placeholder="최대 20자리, 대소문자 구분 없음" id="txtPwd" onkeyup="vEnter();" maxlength="20" aria-describedby="basic-addon3">
        </div>
        <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon3">승인코드</span>
        </div>
        <input type="text" class="form-control" placeholder="XXXXXX" id="txtCode" maxlength="10" aria-describedby="basic-addon3">
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="cbIDSave">
            <label class="form-check-label" for="cbIDSave">아이디 기억</label>
        </div>

        <div>&nbsp;</div>

        <button type="button" id="btnLogin" class="btn btn-success" onclick="vLogin();">로그인</button>
        <button type="button" id="btnJoin" class="btn btn-success" onclick="vJoin();">회원가입</button>
    </div>    
    </div>
</section>

<section id="Join"> 
    <div class="container">
    <h2>회원가입</h2>
    <p>아이디는 중복 불가능 합니다. <br>비밀번호는 암호화 되지만 간단한걸로 해주세요. <br><br> 비밀번호 초기화는 당분간 지원하지않습니다. <br>
        기억하기 쉽게 지정해주세요.<br><br>
        <font style="font-weight: bold;">이메일은 승인 후 코드가 발송되는 유일한 루트 이며,</font><br>
        <font style="font-weight: bold;">신청 후 게임상에서</font> 
        <font style="font-weight: bolder; color:rgb(47, 23, 185);"> "몬스터주식회사 길마 (살랑살랑) 및 운영진" </font>
        <font style="font-weight: bold;">에게 귓말 부탁드려요.</font><br>
        <font style="font-weight: bolder;">응답 받으신후 승인이 되면 로그인 가능합니다</font><br>
    </p>    
    <div class="blog-wrap">                  
        <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon3">아이디</span>
        </div>
        <input type="text" class="form-control" placeholder="최대 10자리, 대소문자 구분 없음" id="txtJoinUid" maxlength="10" aria-describedby="basic-addon3">
        </div>
        <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon3">패스워드</span>
        </div>
        <input type="password" class="form-control" placeholder="최대 20자리, 대소문자 구분 없음" id="txtJoinPwd" maxlength="20" aria-describedby="basic-addon3">
        </div>
        <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon3">패스워드 확인</span>
        </div>
        <input type="password" class="form-control" placeholder="최대 20자리, 대소문자 구분 없음" id="txtJoinPwdConfirm" maxlength="20" aria-describedby="basic-addon3">
        </div>
        <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon3">닉네임</span>
        </div>
        <input type="text" class="form-control" placeholder="최대 20자리" id="txtJoinNickname" maxlength="20" aria-describedby="basic-addon3">
        </div>
        <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon3">이메일</span>
        </div>
        <input type="email" class="form-control" placeholder="name@example.com" id="txtJoinEmail" maxlength="50" aria-describedby="basic-addon3">            
        </div>
        
        <button type="button" id="btnJoinConfirm" class="btn btn-success" onclick="vJoinConfirm()">회원가입</button>
    </div>    
    </div>
</section>

<section id="Simul">
    <div class="container">          
    <div class="input-group mb-3">
        <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">등급</label>
        </div>
        <select class="custom-select" id="ddlLevel">        
        <option value="SSS+" selected>SSS+</option>
        <option value="SSS">SSS</option>
        <option value="SS">SS</option>
        </select>
    </div>

    <div class="testi-wrapper" id="SimulList">                
        <div class="old-simul each-testi">
            
        </div>        
        </div>
    </div>
</section>

<section id="SimulView">
    <div class="container">    
    <button class="btn btn-info" onclick="vItemReturn()">돌아가기</button>

    <p id="pSimulView" style="font-size:small; text-align: left;"></p>
    
    <div class="input-group-prepend">
        <span class="input-group-text"><font color="black" style="font-size: smaller;">대표카드효과</font></span>
        <select class="custom-select mr-sm-2" id="ddlMainEffect" style="font-size:small;">
            <option value="" selected>--선택--</option>
            <% if(eList != null && eList.length > 0) { %>
                <% for (var i = 0; i < eList.length; i++) { %>
                    <option value="<%=eList[i].maineffect%>"><%=eList[i].cardname%> - <%=eList[i].maineffect%></option>
                <% } %>
            <% } %>                        
        </select>    
    </div>

    <div>-</div>

    <div class="input-group-prepend">
        <span class="input-group-text"><font color="black" style="font-size: smaller;">무기</font></span>
        <select id="ddlWeaponMain" class="form-control" style="font-size:small;">
            <option value="" selected>--선택--</option>
            <% if(itemList.weaponList != null && itemList.weaponList.length > 0) { %>
                <% for (var i = 0; i < itemList.weaponList.length; i++) { %>
                    <option value="<%=itemList.weaponList[i].effect%> <%=itemList.weaponList[i].effect_v%>"><%=itemList.weaponList[i].level%><%=itemList.weaponList[i].kind%>-<%=itemList.weaponList[i].effect%> <%=itemList.weaponList[i].effect_v%>%</option>
                <% } %>
            <% } %>
        </select>
        <span class="input-group-text"><font color="black" style="font-size: smaller;">마석</font></span>
        <select id="ddlWeaponOption1" class="form-control" style="font-size:small;">
            <option value="" selected>--선택--</option>
            <% if(itemList.stoneList != null && itemList.stoneList.length > 0) { %>
                <% for (var i = 0; i < itemList.stoneList.length; i++) { %>
                    <option value="<%=itemList.stoneList[i].effect_w%> <%=itemList.stoneList[i].effect_w_v%>"><%=itemList.stoneList[i].level%><%=itemList.stoneList[i].kind%>-<%=itemList.stoneList[i].effect_w%> <%=itemList.stoneList[i].effect_w_v%>%</option>
                <% } %>
            <% } %>
        </select>
        <span class="input-group-text"><font color="black" style="font-size: smaller;">마석</font></span>
        <select id="ddlWeaponOption2" class="form-control" style="font-size:small;">
            <option value="" selected>--선택--</option>
            <% if(itemList.stoneList != null && itemList.stoneList.length > 0) { %>
                <% for (var i = 0; i < itemList.stoneList.length; i++) { %>
                    <option value="<%=itemList.stoneList[i].effect_w%> <%=itemList.stoneList[i].effect_w_v%>"><%=itemList.stoneList[i].level%><%=itemList.stoneList[i].kind%>-<%=itemList.stoneList[i].effect_w%> <%=itemList.stoneList[i].effect_w_v%>%</option>
                <% } %>
            <% } %>
        </select>            
    </div>        

    <div class="input-group-prepend">
        <input class="form-control" type="text" id="lblW" placeholder="" style="font-size:small" readonly>
        <input class="form-control" type="text" id="lblWOption1" placeholder="" style="font-size:small" readonly>
        <input class="form-control" type="text" id="lblWOption2" placeholder="" style="font-size:small" readonly>
    </div>
    

    <div>-</div>

    <div class="input-group-prepend">
        <span class="input-group-text"><font color="black" style="font-size: smaller;">방어구</font></span>
        <select id="ddlDefenseMain" class="form-control" style="font-size:small;">
            <option value="" selected>--선택--</option>
            <% if(itemList.defenseList != null && itemList.defenseList.length > 0) { %>
                <% for (var i = 0; i < itemList.defenseList.length; i++) { %>
                    <option value="<%=itemList.defenseList[i].effect%> <%=itemList.defenseList[i].effect_v%>"><%=itemList.defenseList[i].level%><%=itemList.defenseList[i].kind%>-<%=itemList.defenseList[i].effect%> <%=itemList.defenseList[i].effect_v%>%</option>
                <% } %>
            <% } %>
        </select>
        <span class="input-group-text"><font color="black" style="font-size: smaller;">마석</font></span>
        <select id="ddlDefenseOption1" class="form-control" style="font-size:small;">
            <option value="" selected>--선택--</option>
            <% if(itemList.stoneList != null && itemList.stoneList.length > 0) { %>
                <% for (var i = 0; i < itemList.stoneList.length; i++) { %>
                    <option value="<%=itemList.stoneList[i].effect_d%> <%=itemList.stoneList[i].effect_d_v%>"><%=itemList.stoneList[i].level%><%=itemList.stoneList[i].kind%>-<%=itemList.stoneList[i].effect_d%> <%=itemList.stoneList[i].effect_d_v%>%</option>
                <% } %>
            <% } %>
        </select>
        <span class="input-group-text"><font color="black" style="font-size: smaller;">마석</font></span>
        <select id="ddlDefenseOption2" class="form-control" style="font-size:small;">
            <option value="" selected>--선택--</option>
            <% if(itemList.stoneList != null && itemList.stoneList.length > 0) { %>
                <% for (var i = 0; i < itemList.stoneList.length; i++) { %>
                    <option value="<%=itemList.stoneList[i].effect_d%> <%=itemList.stoneList[i].effect_d_v%>"><%=itemList.stoneList[i].level%><%=itemList.stoneList[i].kind%>-<%=itemList.stoneList[i].effect_d%> <%=itemList.stoneList[i].effect_d_v%>%</option>
                <% } %>
            <% } %>
        </select>            
    </div>        

    <div class="input-group-prepend">
        <input class="form-control" type="text" id="lblD" placeholder="" style="font-size:small" readonly>
        <input class="form-control" type="text" id="lblDOption1" placeholder="" style="font-size:small" readonly>
        <input class="form-control" type="text" id="lblDOption2" placeholder="" style="font-size:small" readonly>
    </div>

    <div>-</div>

    <div class="input-group-prepend">
        <span class="input-group-text"><font color="black" style="font-size: smaller;">악세</font></span>
        <select id="ddlAssMain" class="form-control" style="font-size:small;">
            <option value="" selected>--선택--</option>
            <% if(itemList.assList != null && itemList.assList.length > 0) { %>
                <% for (var i = 0; i < itemList.assList.length; i++) { %>
                    <option value="<%=itemList.assList[i].effect%> <%=itemList.assList[i].effect_v%>"><%=itemList.assList[i].level%><%=itemList.assList[i].kind%>-<%=itemList.assList[i].effect%> <%=itemList.assList[i].effect_v%>%</option>
                <% } %>
            <% } %>
        </select>
        <span class="input-group-text"><font color="black" style="font-size: smaller;">마석</font></span>
        <select id="ddlAssOption1" class="form-control" style="font-size:small;">
            <option value="" selected>--선택--</option>
            <% if(itemList.stoneList != null && itemList.stoneList.length > 0) { %>
                <% for (var i = 0; i < itemList.stoneList.length; i++) { %>
                    <option value="<%=itemList.stoneList[i].effect_a%> <%=itemList.stoneList[i].effect_a_v%>"><%=itemList.stoneList[i].level%><%=itemList.stoneList[i].kind%>-<%=itemList.stoneList[i].effect_a%> <%=itemList.stoneList[i].effect_a_v%>%</option>
                <% } %>
            <% } %>
        </select>
        <span class="input-group-text"><font color="black" style="font-size: smaller;">마석</font></span>
        <select id="ddlAssOption2" class="form-control" style="font-size:small;">
            <option value="" selected>--선택--</option>
            <% if(itemList.stoneList != null && itemList.stoneList.length > 0) { %>
                <% for (var i = 0; i < itemList.stoneList.length; i++) { %>
                    <option value="<%=itemList.stoneList[i].effect_a%> <%=itemList.stoneList[i].effect_a_v%>"><%=itemList.stoneList[i].level%><%=itemList.stoneList[i].kind%>-<%=itemList.stoneList[i].effect_a%> <%=itemList.stoneList[i].effect_a_v%>%</option>
                <% } %>
            <% } %>
        </select>            
    </div>        

    <div class="input-group-prepend">
        <input class="form-control" type="text" id="lblA" placeholder="" style="font-size:small" readonly>
        <input class="form-control" type="text" id="lblAOption1" placeholder="" style="font-size:small" readonly>
        <input class="form-control" type="text" id="lblAOption2" placeholder="" style="font-size:small" readonly>
    </div>

    <div>-</div>

    <div class="input-group-prepend">
        <span class="input-group-text"><font color="black" style="font-size: smaller;">추가 공속</font></span>
        <select id="ddlAttSpeedControl1" class="form-control">            
            <% for (var i = 0; i <= 100; i++) { %>                
                <option value="<%=i%>"><%=i%></option>
            <% } %>            
        </select>
        <span class="input-group-text"><font color="black" style="font-size: smaller;">.</font></span>
        <select id="ddlAttSpeedControl2" class="form-control">            
            <% for (var i = 0; i <= 100; i++) { %>
                <option value="<%=i%>"><%=i%></option>
            <% } %>            
        </select>                
    </div>        

    <div class="input-group-prepend">
        <span class="input-group-text"><font color="black" style="font-size: smaller;">추가 스속</font></span>
        <select id="ddlSkillSpeedControl1" class="form-control">            
            <% for (var i = 0; i <= 100; i++) { %>
                <option value="<%=i%>"><%=i%></option>
            <% } %>            
        </select>
        <span class="input-group-text"><font color="black" style="font-size: smaller;">.</font></span>
        <select id="ddlSkillSpeedControl2" class="form-control">            
            <% for (var i = 0; i <= 100; i++) { %>
                <option value="<%=i%>"><%=i%></option>
            <% } %>            
        </select>
    </div>

    <div>-</div>

    <div class="input-group-prepend">        
        <span class="input-group-text"><font color="black" style="font-size: smaller;">캐스팅 변화</font></span>
        <select id="ddlSkillSpeedEtc1" class="form-control">            
            <% for (var i = 0; i <= 5; i++) { %>
                <option value="<%=i%>"><%=i%>초</option>
            <% } %>            
        </select>
        <span class="input-group-text"><font color="black" style="font-size: smaller;">캐스팅 초기화</font></span>
        <select id="ddlSkillSpeedEtc2" class="form-control">            
            <% for (var i = 0; i <= 5; i++) { %>
                <option value="<%=i%>"><%=i%>초</option>
            <% } %>            
        </select>
    </div>        

    <div>
        <span id="spnResult"></span>        
    </div>

    </div>
</section>

<section id="MCE">
    <div class="container">
        <p>
        <% if(itemList.setList != null && itemList.setList.length > 0) { %>
            <% for (var i = 0; i < itemList.setList.length; i++) { %>
                <%=itemList.setList[i].a%>
            <% } %>
        <% } %>                    
        </p>
        <a href="mail:choiyw2@gmail.com" class="email-btn"><span><i class="fa fa-envelope-o" aria-hidden="true"></i> Email</span></a>
        <ul class="social-icons">
            <li><a href="https://www.facebook.com/OfficialDragonChronicles" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>      
            <li><a href="https://thevc.kr/Nyou" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>      
            <li><a href="https://play.google.com/store/apps/details?id=com.nyouinc.monstercryeternal&hl=ko&gl=US" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
        </ul>                    
    </div>    
</section>    

<div class="modal fade" id="chatModal" tabindex="-1" aria-labelledby="chatModalLabel" aria-hidden="true">    
    <div class="modal-dialog modal-fullsize" role="document">
        <div class="modal-content modal-fullsize">
            <div class="modal-header" style="background-color:rgb(214, 80, 27);">
                <h4 class="modal-title w-100" id="myModalLabel">접속 로그 및 채팅</h4>                
              </div>
            <div class="modal-body" style="background-color:rgb(243, 249, 250);">
                <div class="form-group">                    
                    <iframe style="display:block; overflow:hidden; position:absolute; width:90%; height: 100%" class="embed-responsive-item" src="/chat"></iframe>
                </div>            
            </div>
            <div class="modal-footer" style="background-color:rgb(230, 207, 207);">
            <button type="button" style="width:100%;" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
      </div>
    </div>
</div>    

<div id="divError" class='error' style='display:none'>Error</div>