<body>
    <input type="hidden" id="hidActPower" name="hidActPower"/>
    <input type="hidden" id="hidActSkill1" name="hidActSkill1"/>
    <input type="hidden" id="hidActSkill1_w" name="hidActSkill1_w"/>
    <input type="hidden" id="hidActSkill2" name="hidActSkill2"/>
    <input type="hidden" id="hidActSkill2_w" name="hidActSkill2_w"/>
    <input type="hidden" id="hidloginID" name="hidloginID" value="<%=loginID%>"/>
    <input type="hidden" id="hidloginType" name="hidloginType" value="<%=loginType%>"/>
    
    <header>
    <div class="mobile-logo">
    <a href=""><img src="/theme/images/logo.gif"></a>
    </div>
    <a class="menu-toggle rounded" href="#">
    <i class="fa fa-bars"></i>
    </a>
    <nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
        <span class="smooth-scroll" id="loginInfo"><%=loginID%></span>
        </li>             
        <% if (link != null && link != "") { %>
            <li class="sidebar-nav-item"><button class="btn btn-danger" onclick="document.location.href='<%=link%>';">ADMIN</button></li><p/>
        <% } %>
        <li class="sidebar-nav-item" id="lLogin"><button class="btn btn-danger" id="btnLoginG" onclick="funNav('Login');"></button></li>        
        <p/>
        <li class="sidebar-nav-item">        
        <button class="btn btn-danger" id="btnSimul" onclick="goUrl('Simul');">시뮬레이터</button>
        </li><p/>
        <li class="sidebar-nav-item">        
        <button class="btn btn-danger" id="btnBanner" onclick="goUrl('Banner');">준비중</button>
        </li><p/>  
        <li class="sidebar-nav-item">        
        <button class="btn btn-danger" id="btnBanner" onclick="goUrl('Banner');">준비중</button>
        </li><p/>  
        <li class="sidebar-nav-item">        
        <button class="btn btn-danger" id="btnMCE" onclick="goUrl('MCE');">MonsteryCryEternal</button>
        </li>
    </ul>
    </nav>
    </header>

<section id="Banner">
    <div class="logo">
    <img src="/theme/images/logo.gif">
    </div>
    <div class="blacksection">
    <h1>
        Dragon Chronicles - 몬스터주식회사<br><br>
        공속 및 스속 계산을 위한 사이트입니다<br><br>        
    </h1>
    </div>
</section>

<section id="Login"> 
    <div class="container">
    <h2>로그인</h2>
    <p>모든 메뉴는 회원 가입을 해주셔야 접근 가능합니다~!<br> 추후에 다른 메뉴에 활용할 예정이니 가입해주세요~<br>민감한 정보는 입력받지 않습니다</p>
    <p>로그인 유지는 1시간동안 지속됩니다.</p>
    <p>승인코드는 한번 입력하시면 쭉 유지됩니다.</p>
    <div class="blog-wrap">                  
        <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon3">&nbsp;&nbsp;아이디&nbsp;&nbsp;</span>
        </div>
        <input type="text" class="form-control" placeholder="최대 10자리, 대소문자 구분 없음" id="txtUid" maxlength="10" aria-describedby="basic-addon3">
        </div>
        <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon3">패스워드</span>
        </div>
        <input type="password" class="form-control" placeholder="최대 20자리, 대소문자 구분 없음" id="txtPwd" onkeyup="vEnter();" maxlength="20" aria-describedby="basic-addon3">
        </div>
        <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon3">승인코드</span>
        </div>
        <input type="text" class="form-control" placeholder="XXXXXX" id="txtCode" maxlength="10" aria-describedby="basic-addon3">
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="cbIDSave">
            <label class="form-check-label" for="cbIDSave">아이디 기억</label>
        </div>

        <div>&nbsp;</div>

        <button type="button" id="btnLogin" class="btn btn-success" onclick="vLogin();">로그인</button>
        <button type="button" id="btnJoin" class="btn btn-success" onclick="vJoin();">회원가입</button>
    </div>    
    </div>
</section>

<section id="Join"> 
    <div class="container">
    <h2>회원가입</h2>
    <p>아이디는 중복 불가능 합니다. <br>비밀번호는 암호화 되지만 간단한걸로 해주세요. <br><br> 비밀번호 초기화는 당분간 지원하지않습니다. <br>
        기억하기 쉽게 지정해주세요.<br><br><font style="font-weight: bold;">이메일은 승인 후 코드가 발송되는 루트 입니다. 입력 안하실시 게임내에서 길마 또는 길원에게 귓말주세요~~</font>
    </p>    
    <div class="blog-wrap">                  
        <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon3">아이디</span>
        </div>
        <input type="text" class="form-control" placeholder="최대 10자리, 대소문자 구분 없음" id="txtJoinUid" maxlength="10" aria-describedby="basic-addon3">
        </div>
        <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon3">패스워드</span>
        </div>
        <input type="password" class="form-control" placeholder="최대 20자리, 대소문자 구분 없음" id="txtJoinPwd" maxlength="20" aria-describedby="basic-addon3">
        </div>
        <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon3">패스워드 확인</span>
        </div>
        <input type="password" class="form-control" placeholder="최대 20자리, 대소문자 구분 없음" id="txtJoinPwdConfirm" maxlength="20" aria-describedby="basic-addon3">
        </div>
        <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon3">닉네임</span>
        </div>
        <input type="text" class="form-control" placeholder="최대 20자리" id="txtJoinNickname" maxlength="20" aria-describedby="basic-addon3">
        </div>
        <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon3">이메일</span>
        </div>
        <input type="email" class="form-control" placeholder="name@example.com" id="txtJoinEmail" maxlength="50" aria-describedby="basic-addon3">            
        </div>
        
        <button type="button" id="btnJoinConfirm" class="btn btn-success" onclick="vJoinConfirm()">회원가입</button>
    </div>    
    </div>
</section>

<section id="Simul">
    <div class="container">          
    <div class="input-group mb-3">
        <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">등급</label>
        </div>
        <select class="custom-select" id="ddlLevel">        
        <option value="SSS+" selected>SSS+</option>
        <option value="SSS">SSS</option>
        <option value="SS">SS</option>
        </select>
    </div>

    <div class="testi-wrapper" id="SimulList">                
        <div class="old-simul each-testi">
            
        </div>        
        </div>
    </div>
</section>

<section id="SimulView">
    <div class="container">    
    <button class="btn btn-info" onclick="vItemReturn()">돌아가기</button>

    <p id="pSimulView"></p>
    
    <div class="input-group-prepend">
        <span class="input-group-text"><font color="black">대표카드효과</font></span>
        <select class="custom-select mr-sm-2" id="ddlMainEffect" style="font-size:small;">
            <option value="" selected>--선택--</option>
            <% if(eList != null && eList.length > 0) { %>
                <% for (var i = 0; i < eList.length; i++) { %>
                    <option value="<%=eList[i].maineffect%>"><%=eList[i].cardname%> - <%=eList[i].maineffect%></option>
                <% } %>
            <% } %>                        
        </select>    
    </div>

    <div>-</div>

    <div class="input-group-prepend">
        <span class="input-group-text"><font color="black">무기</font></span>
        <select id="ddlWeaponMain" class="form-control" style="font-size:small;">
            <option value="" selected>--선택--</option>
            <% if(itemList.weaponList != null && itemList.weaponList.length > 0) { %>
                <% for (var i = 0; i < itemList.weaponList.length; i++) { %>
                    <option value="<%=itemList.weaponList[i].effect%> <%=itemList.weaponList[i].effect_v%>"><%=itemList.weaponList[i].level%><%=itemList.weaponList[i].kind%>-<%=itemList.weaponList[i].effect%> <%=itemList.weaponList[i].effect_v%>%</option>
                <% } %>
            <% } %>
        </select>
        <span class="input-group-text"><font color="black">마석</font></span>
        <select id="ddlWeaponOption1" class="form-control" style="font-size:small;">
            <option value="" selected>--선택--</option>
            <% if(itemList.stoneList != null && itemList.stoneList.length > 0) { %>
                <% for (var i = 0; i < itemList.stoneList.length; i++) { %>
                    <option value="<%=itemList.stoneList[i].effect_w%> <%=itemList.stoneList[i].effect_w_v%>"><%=itemList.stoneList[i].level%><%=itemList.stoneList[i].kind%>-<%=itemList.stoneList[i].effect_w%> <%=itemList.stoneList[i].effect_w_v%>%</option>
                <% } %>
            <% } %>
        </select>
        <span class="input-group-text"><font color="black">마석</font></span>
        <select id="ddlWeaponOption2" class="form-control" style="font-size:small;">
            <option value="" selected>--선택--</option>
            <% if(itemList.stoneList != null && itemList.stoneList.length > 0) { %>
                <% for (var i = 0; i < itemList.stoneList.length; i++) { %>
                    <option value="<%=itemList.stoneList[i].effect_w%> <%=itemList.stoneList[i].effect_w_v%>"><%=itemList.stoneList[i].level%><%=itemList.stoneList[i].kind%>-<%=itemList.stoneList[i].effect_w%> <%=itemList.stoneList[i].effect_w_v%>%</option>
                <% } %>
            <% } %>
        </select>            
    </div>        

    <div class="input-group-prepend">
        <input class="form-control" type="text" id="lblW" placeholder="" style="font-size:small" readonly>
        <input class="form-control" type="text" id="lblWOption1" placeholder="" style="font-size:small" readonly>
        <input class="form-control" type="text" id="lblWOption2" placeholder="" style="font-size:small" readonly>
    </div>
    

    <div>-</div>

    <div class="input-group-prepend">
        <span class="input-group-text"><font color="black">방어구</font></span>
        <select id="ddlDefenseMain" class="form-control" style="font-size:small;">
            <option value="" selected>--선택--</option>
            <% if(itemList.defenseList != null && itemList.defenseList.length > 0) { %>
                <% for (var i = 0; i < itemList.defenseList.length; i++) { %>
                    <option value="<%=itemList.defenseList[i].effect%> <%=itemList.defenseList[i].effect_v%>"><%=itemList.defenseList[i].level%><%=itemList.defenseList[i].kind%>-<%=itemList.defenseList[i].effect%> <%=itemList.defenseList[i].effect_v%>%</option>
                <% } %>
            <% } %>
        </select>
        <span class="input-group-text"><font color="black">마석</font></span>
        <select id="ddlDefenseOption1" class="form-control" style="font-size:small;">
            <option value="" selected>--선택--</option>
            <% if(itemList.stoneList != null && itemList.stoneList.length > 0) { %>
                <% for (var i = 0; i < itemList.stoneList.length; i++) { %>
                    <option value="<%=itemList.stoneList[i].effect_d%> <%=itemList.stoneList[i].effect_d_v%>"><%=itemList.stoneList[i].level%><%=itemList.stoneList[i].kind%>-<%=itemList.stoneList[i].effect_d%> <%=itemList.stoneList[i].effect_d_v%>%</option>
                <% } %>
            <% } %>
        </select>
        <span class="input-group-text"><font color="black">마석</font></span>
        <select id="ddlDefenseOption2" class="form-control" style="font-size:small;">
            <option value="" selected>--선택--</option>
            <% if(itemList.stoneList != null && itemList.stoneList.length > 0) { %>
                <% for (var i = 0; i < itemList.stoneList.length; i++) { %>
                    <option value="<%=itemList.stoneList[i].effect_d%> <%=itemList.stoneList[i].effect_d_v%>"><%=itemList.stoneList[i].level%><%=itemList.stoneList[i].kind%>-<%=itemList.stoneList[i].effect_d%> <%=itemList.stoneList[i].effect_d_v%>%</option>
                <% } %>
            <% } %>
        </select>            
    </div>        

    <div class="input-group-prepend">
        <input class="form-control" type="text" id="lblD" placeholder="" style="font-size:small" readonly>
        <input class="form-control" type="text" id="lblDOption1" placeholder="" style="font-size:small" readonly>
        <input class="form-control" type="text" id="lblDOption2" placeholder="" style="font-size:small" readonly>
    </div>

    <div>-</div>

    <div class="input-group-prepend">
        <span class="input-group-text"><font color="black">악세</font></span>
        <select id="ddlAssMain" class="form-control" style="font-size:small;">
            <option value="" selected>--선택--</option>
            <% if(itemList.assList != null && itemList.assList.length > 0) { %>
                <% for (var i = 0; i < itemList.assList.length; i++) { %>
                    <option value="<%=itemList.assList[i].effect%> <%=itemList.assList[i].effect_v%>"><%=itemList.assList[i].level%><%=itemList.assList[i].kind%>-<%=itemList.assList[i].effect%> <%=itemList.assList[i].effect_v%>%</option>
                <% } %>
            <% } %>
        </select>
        <span class="input-group-text"><font color="black">마석</font></span>
        <select id="ddlAssOption1" class="form-control" style="font-size:small;">
            <option value="" selected>--선택--</option>
            <% if(itemList.stoneList != null && itemList.stoneList.length > 0) { %>
                <% for (var i = 0; i < itemList.stoneList.length; i++) { %>
                    <option value="<%=itemList.stoneList[i].effect_a%> <%=itemList.stoneList[i].effect_a_v%>"><%=itemList.stoneList[i].level%><%=itemList.stoneList[i].kind%>-<%=itemList.stoneList[i].effect_a%> <%=itemList.stoneList[i].effect_a_v%>%</option>
                <% } %>
            <% } %>
        </select>
        <span class="input-group-text"><font color="black">마석</font></span>
        <select id="ddlAssOption2" class="form-control" style="font-size:small;">
            <option value="" selected>--선택--</option>
            <% if(itemList.stoneList != null && itemList.stoneList.length > 0) { %>
                <% for (var i = 0; i < itemList.stoneList.length; i++) { %>
                    <option value="<%=itemList.stoneList[i].effect_a%> <%=itemList.stoneList[i].effect_a_v%>"><%=itemList.stoneList[i].level%><%=itemList.stoneList[i].kind%>-<%=itemList.stoneList[i].effect_a%> <%=itemList.stoneList[i].effect_a_v%>%</option>
                <% } %>
            <% } %>
        </select>            
    </div>        

    <div class="input-group-prepend">
        <input class="form-control" type="text" id="lblA" placeholder="" style="font-size:small" readonly>
        <input class="form-control" type="text" id="lblAOption1" placeholder="" style="font-size:small" readonly>
        <input class="form-control" type="text" id="lblAOption2" placeholder="" style="font-size:small" readonly>
    </div>

    <div>-</div>

    <div class="input-group-prepend">
        <span class="input-group-text"><font color="black">추가 공속</font></span>
        <select id="ddlAttSpeedControl1" class="form-control">            
            <% for (var i = 0; i <= 100; i++) { %>                
                <option value="<%=i%>"><%=i%></option>
            <% } %>            
        </select>
        <span class="input-group-text"><font color="black">.</font></span>
        <select id="ddlAttSpeedControl2" class="form-control">            
            <% for (var i = 0; i <= 100; i++) { %>
                <option value="<%=i%>"><%=i%></option>
            <% } %>            
        </select>        
    </div>        

    <div>-</div>

    <div class="input-group-prepend">
        <span class="input-group-text"><font color="black">추가 스속</font></span>
        <select id="ddlSkillSpeedControl1" class="form-control">            
            <% for (var i = 0; i <= 100; i++) { %>
                <option value="<%=i%>"><%=i%></option>
            <% } %>            
        </select>
        <span class="input-group-text"><font color="black">.</font></span>
        <select id="ddlSkillSpeedControl2" class="form-control">            
            <% for (var i = 0; i <= 100; i++) { %>
                <option value="<%=i%>"><%=i%></option>
            <% } %>            
        </select>        
    </div>        

    <div>
        <span id="spnResult"></span>        
    </div>

    </div>
</section>

<section id="MCE">
    <div class="container">
        <p>
        <% if(itemList.setList != null && itemList.setList.length > 0) { %>
            <% for (var i = 0; i < itemList.setList.length; i++) { %>
                <%=itemList.setList[i].a%>
            <% } %>
        <% } %>                    
        </p>
        <a href="mail:choiyw2@gmail.com" class="email-btn"><span><i class="fa fa-envelope-o" aria-hidden="true"></i> Email</span></a>
        <ul class="social-icons">
            <li><a href="https://www.facebook.com/OfficialDragonChronicles" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>      
            <li><a href="https://thevc.kr/Nyou" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>      
            <li><a href="https://play.google.com/store/apps/details?id=com.nyouinc.monstercryeternal&hl=ko&gl=US" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
        </ul>                    
    </div>    
</section>    


