<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<meta charset="utf-8">
<!--<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi" />-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- favicons -->
<link rel="apple-touch-icon" sizes="57x57" href="/theme/images/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/theme/images/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/theme/images/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/theme/images/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/theme/images/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/theme/images/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/theme/images/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/theme/images/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/theme/images/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/theme/images/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/theme/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/theme/images/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/theme/images/favicon-16x16.png">
<!-- favicons -->
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/theme/css/style.css">
<link rel="stylesheet" type="text/css" href="/theme/css/custom-responsive-style.css">

<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">-->
<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css">-->
<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">-->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" />  
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<!--<script type="text/javascript" src="/theme/scripts/jquery-3.2.1.min.js"></script>-->
<script type="text/javascript" src="/theme/scripts/plugin-active.js"></script>
<script type="text/javascript" src="/theme/scripts/jquery-usaki.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script type="text/javascript">

var bExist = false;
$(document).ready(function() {       

    $("input:text[numberOnly]").on("keyup", function() {
        $(this).val($(this).val().replace(/[^0-9,]/g,""));
    });
            
    $("#datePick").datepicker({
        showButtonPanel: true,
        changeMonth: true, 
        changeYear: true,
        nextText: '다음 달',
        prevText: '이전 달', 
        dayNames: ['일요일', '월요일', '화요일', '수요일', '목요일', '금요일', '토요일'],
        dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'], 
        monthNamesShort: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'],
        monthNames: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'],
        dateFormat: "yy-mm-dd",
        maxDate: 0,
        onClose: function( selectedDate ) {    
            dupleCheck();
        }
    });

    var yy = new Date().getUTCFullYear();
    var mm = new Date().getUTCMonth() + 1;
    if (mm < 10) mm = "0" + mm;
    var dd = new Date().getUTCDate();
    if (dd < 10) dd = "0" + dd;
    
    var selYear = "<%=year%>";
    var sYear = "2021";
    var ddlYear = $("#ddlYear");
    ddlYear.empty();
    for (let index = sYear; index <= yy; index++) {
        ddlYear.append("<option value='"+index+"'>"+index+" 년</option>");        
    }
    if (selYear != "") ddlYear.val(selYear);
    else ddlYear.val(yy);
    
    var selMonth = "<%=month%>";
    var ddlMonth = $("#ddlMonth");
    ddlMonth.empty();
    ddlMonth.append("<option value=''>--전체--</option>");        
    for (let index = 1; index <= 12; index++) {
        var month = index;
        if (month < 10) month = "0" + month;
        ddlMonth.append("<option value='"+month+"'>"+month+" 월</option>");        
    }
    if (selMonth != "") ddlMonth.val(selMonth);
    
    var selDay = "<%=day%>";
    var ddlDay = $("#ddlDay");
    ddlDay.empty();
    ddlDay.append("<option value=''>--전체--</option>");        
    for (let index = 1; index <= 31; index++) {
        var day = index;
        if (day < 10) day = "0" + day;
        ddlDay.append("<option value='"+day+"'>"+day+" 일</option>");        
    }    
    if (selDay != "") ddlDay.val(selDay);

    var selUser = "<%=uid%>";
    var ddlUser = $("#ddlUser");
    if (selUser != "") ddlUser.val(selUser);

    var selOrder = "<%=order%>";
    var ddlOrder = $("#ddlOrder");
    if (selOrder != "") ddlOrder.val(selOrder);

    $("#ddlYear").on("change", function() {

        $("#ddlMonth").val("");
        $("#ddlDay").val("");

        changeSel();
    });
    $("#ddlMonth").on("change", function() {

        $("#ddlDay").val("");
        
        changeSel();
    });
    $("#ddlDay").on("change", function() {
        changeSel();
    });
    $("#ddlUser").on("change", function() {
        changeSel();
    });
    $("#ddlOrder").on("change", function() {
        changeSel();
    });    
    
    $("#btnSave").on("click", function() {        
        var scoresum = 0;
        var score1 = 0;
        var score2 = 0;
        
        var rdtype1 = $("#rdType1").is(":checked");
        var rdtype2 = $("#rdType2").is(":checked");
        var selDate = $("#datePick").val();

        if (rdtype1) {            
            scoresum = $("#txtScoreSum").val().replace(/[,]/g,"");                        

            if (scoresum == "") {
                alert("점수를 입력해주세요."); return;
            }
        }

        if (rdtype2) {
            score1 = $("#txtScore1").val().replace(/[,]/g,"");            
            score2 = $("#txtScore2").val().replace(/[,]/g,"");            

            if (score1 == "" || score2 == "") {
                alert("점수를 모두 입력해주세요."); return;
            }

            scoresum = parseInt(score1) + parseInt(score2);
        }
                
        scoresum = scoresum.toString().replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');

        if (!confirm("날짜 : ["+selDate+"], 총점수 : ("+scoresum+") 정확하나요?")) return;

        console.log(bExist);
        if (bExist) {
            $.ajax({
                type : "POST",
                url : "/asmonel/update",
                dataType : "JSON",            
                data : {
                    "date" : selDate,
                    "scoresum" : scoresum,
                    "score1" : score1,
                    "score2" : score2
                },
                success: function(result){                                                 
                    if (result.length > 0) {                    
                        if (result == "SUCCESS") {       
                            $("#divError").html("업데이트 완료");
                            $("#divError").fadeIn(400).delay(2000).fadeOut(400);
                        }                    
                    }                                                        
                },
                error : function(e) {                
                    console.log("ERROR: ", e);

                    $("#divError").html("오류입니다 : " + e);
                    $("#divError").fadeIn(400).delay(2000).fadeOut(400);
                }
            });     
        } else {
            $.ajax({
                type : "POST",
                url : "/asmonel/save",
                dataType : "JSON",            
                data : {
                    "date" : selDate,
                    "scoresum" : scoresum,
                    "score1" : score1,
                    "score2" : score2
                },
                success: function(result){                                                 
                    if (result.length > 0) {                    
                        if (result == "SUCCESS") {       
                            $("#divError").html("입력 완료");
                            $("#divError").fadeIn(400).delay(2000).fadeOut(400);
                        }                    
                    }                                                        
                },
                error : function(e) {                
                    console.log("ERROR: ", e);

                    $("#divError").html("오류입니다 : " + e);
                    $("#divError").fadeIn(400).delay(2000).fadeOut(400);
                }
            });     
        }
                
    });

    
    $("#ddlCardList").on("change", function() {
        var selcard = $("#ddlCardList").val();

        $.ajax({
            type : "POST",
            url : "/admin/cardview",
            dataType : "JSON",            
            data : {
                "seq" : selcard                
            },
            success: function(result){                                                 
                if (result.length > 0) {                    
                    $("#name").val(result[0].cardname);

                    $("#level").val(result[0].cardlevel);
                    $("#type").val(result[0].cardtype);
                    $("#race").val(result[0].cardrace);

                    $("#actpower").val(result[0].cardactpower);
                    $("#active1").val(result[0].cardactive1);
                    $("#active1_cooltime").val(result[0].cardactive1_waiting);
                    $("#active2").val(result[0].cardactive2);
                    $("#active2_cooltime").val(result[0].cardactive2_waiting);
                    $("#effect").val(result[0].maineffect);                    
                }                                                        
            },
            error : function(e) {                
                console.log("ERROR: ", e);
            }
        });     
        
    });
    
    $("#ddlYm").on("change", function() {        
        var form = $("#userstat");

        $("#userstat").attr("action", "/admin/userstat");    
        form.submit();        
    })        
});

var goList = function(v) {
    if (v == "/admin/write") {
        alert("Root만 접근 가능");
    }

    document.location.href = v;
}

var changeSel = function () {
    var year = $("#ddlYear").val();
    var month = $("#ddlMonth").val();
    var day = $("#ddlDay").val();
    var uid = $("#ddlUser").val();
    var order = $("#ddlOrder").val();

    document.location.href="/asmonel/stat?year=" + year + 
        "&month=" + month +
        "&day=" + day +
        "&uid=" + uid +
        "&ord=" + order;
}

var todaySel = function () {
    var yy = new Date().getUTCFullYear();
    var mm = new Date().getUTCMonth() + 1;
    if (mm < 10) mm = "0" + mm;
    var dd = new Date().getUTCDate();
    if (dd < 10) dd = "0" + dd;
        
    var year = yy;
    var month = mm;
    var day = dd;
    var uid = $("#ddlUser").val();
    var order = $("#ddlOrder").val();
    
    document.location.href="/asmonel/stat?year=" + year + 
        "&month=" + month +
        "&day=" + day +
        "&uid=" + uid +
        "&ord=" + order;    
}

var meSel = function () {
    var myid = "<%=myid%>";    

    var year = $("#ddlYear").val();
    var month = $("#ddlMonth").val();
    var day = $("#ddlDay").val();
    var uid = myid;
    var order = $("#ddlOrder").val();

    document.location.href="/asmonel/stat?year=" + year + 
        "&month=" + month +
        "&day=" + day +
        "&uid=" + uid +
        "&ord=" + order;
}

</script>
</head>