<%- include("../partial/header_asmonel") %>

    <script type="text/javascript">
            
    </script>
    
    <body style="background-color: rgba(58, 123, 153, 0.596);">
    
    <div class="container" style="padding-top: 10px;">
        
        <form action="" id="userstat" method="post">    
        <span id="spanMsg"></span>
                                
        <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="">날짜</span>
        </div>
        <input type="text" id="datePick">            
        </div>        

        <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">입력 방식</span>
        </div>
        <div class="input-group-text">
        <div class="custom-control custom-radio">                                                    
            <input type="radio" name="rdType" id="rdType1" class="custom-control-input" checked>
            <label class="custom-control-label" for="rdType1">합계</label>
        </div>
        <div class="custom-control custom-radio" style="margin-left:10px;">
            <input type="radio" name="rdType" id="rdType2" class="custom-control-input">
            <label class="custom-control-label" for="rdType2">각각</label>
        </div>
        </div>
        </div>        
        
        <div class="input-group" id="gSum">
        <div class="input-group-prepend">
            <span class="input-group-text">점수 합계</span>
        </div>
        <input type="number" class="form-control" id="txtScoreSum" maxlength="10" numberOnly placeholder="0">
        </div>

        <div class="input-group" id="gOne" style="display:none;">
        <div class="input-group-prepend">
            <span class="input-group-text">점수 첫번째</span>
        </div>
        <input type="number" class="form-control" id="txtScore1" maxlength="10" numberOnly placeholder="0">
        </div>

        <div class="input-group" id="gTwo" style="display:none;">
        <div class="input-group-prepend">
            <span class="input-group-text">점수 두번째</span>
        </div>
        <input type="number" class="form-control" id="txtScore2" maxlength="10" numberOnly placeholder="0">
        </div>

        <button type="button" id="btnSave" class="btn btn-primary btn-lg btn-block">입력</button>

        <fieldset disabled>
        <div class="form-group" style="padding-top:20px;">
            <input type="text" id="disabledTextInput" class="form-control" placeholder="금월 입력 리스트 - 지나간 월은 확인 할수 없습니다.">
        </div>        
        </fieldset>

        <table class="table table-bordered table-hover">
            <tr>                
                <th>일자</th>
                <th>점수1</th>
                <th>점수2</th>
                <th>합계</th>                
            </tr>        
                <% if(list != null && list.length > 0) { %>
                    <% for (var i = 0; i < list.length; i++) { %>
                    <tr>
                        <td><%=list[i].ymd%></td>
                        <td><%=list[i].score1%></td>
                        <td><%=list[i].score2%></td>
                        <td><%=list[i].scoresum%></td>                                                
                    </tr>
                    <% } %>
                <% } %>                                        
        </table>                

        </form>
    </div>    

<%- include("../partial/footer_asmonel") %>